<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Pravega Desktop Manager</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            height: 100vh;
            width: 100vw;
        }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
